
div.wbPolicyUpdatedDivStyle {
    border-radius: 7px;
    background-color: #000000;
    color:#FFFFFF;
    border: solid 1px #999;
    bottom: 7px;
    font-size: 12px;
    left: 5px;
    line-height: 18px;
    padding: 7px;
    position: fixed;
    max-width: 45%;
    width: auto;
    z-index: 1002;
    font-family: Montserrat, Arial, Helvetica, sans-serif;

 <center> h1 <center>
}

.wb-policy-updated-div-body a{
	color:#e80000;

}

.grid-container {

  background-color: #3667b0;
  display: inline-block;

}


.greenButton_css{
  display: inline-block;
  height: 200px;
  width: 200px;
  background-color: #008000;
}

.blueButton_css{
  display: inline-block;
  height: 200px;
  width: 200px;
  background: #008CBA;
}

.yellowButton_css{
  display: inline-block;
  height: 200px;
  width: 200px;
  background-color: #ffcc00;
}

.redButton_css{
  display: inline-block;
  height: 200px;
  width: 200px;
  background-color: #f44336;
}
button {
 display: block;
 height: 100px;
 width: 300px;
 background: #34696f;
 border: 2px solid rgba(33, 68, 72, 0.59);
}

div.wbPolicyUpdatedDivCloseStyle {
    cursor: pointer;
    float: right;
    position: absolute;
    right: 8px;
    top: 8px;
    font-weight: bold;
    font-size: 28px;
    line-height: 12px;
    margin-left: 5px;
}

div.wbPolicyUpdatedDivBodyStyle {
    margin: 0px 20px 0px 0px;
}
button {
 position: relative;
 border: none;
 background: transparent;
 padding: 0;
 cursor: pointer;
 outline-offset: 4px;
 transition: filter 250ms;
 user-select: none;
 touch-action: manipulation;
}

.shadow {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 border-radius: 12px;
 background: hsl(0deg 0% 0% / 0.25);
 will-change: transform;
 transform: translateY(2px);
 transition: transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.edge {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 border-radius: 12px;
 background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}



button:hover {
 filter: brightness(90%));
}


button:active .front {
 transform: translateY(-2px);
 transition: transform 34ms;
}

button:hover .shadow {
 transform: translateY(4px);
 transition: transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}
